body {
	background: #ebf4f4 url("../images/bg.png");
	color: #5d5d5d;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0 0 10px 0;
}

td {
	font-size: 13px;
}

img {
	border: 0;
}

a {
	color: #09f;
	text-decoration: none;
}

a:hover {
	color: #5d5d5d;
}

.textfield {
	background-image: url('../images/textfield.png');
	width: 290px;
	height: 35px;
}

.textfield div {
	padding: 7px 7px;
}

.textfield input {
	background-color: transparent;
	border: 0;
	width: 100%;
}

.header {
	background: url("../images/header.jpg") center;
	height: 187px
}

.navigation {
	background-image: url("../images/navigation.png");
	width: 970px;
	height: 53px;
}

.navigation a {
	color: #5d5d5d;
}

.navigation a:hover {
	color: #f90;
}

.sep {
	background: url("../images/sep.png") center no-repeat;
	width: 50px;
}

.content {
	background-color: #fff;
	border: 1px solid #cfdede;
	width: 960px;
	margin-top: 50px
}

.content-title {
	background-color: #01b3b3;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	position: relative;
	left: 50px;
	top: -10px;
	text-transform: uppercase
}

.content-border {
	margin: 0 20px 20px 20px;
}

.curl {
	background-image: url("../images/curl.png");
	width: 220px;
	height: 133px;
	position: absolute;
	left: 0;
	top: 183px;
}

.arrow {
	position: absolute;
	left: 85px;
	top: 168px;
}

.status {
	text-align: center;
	position: relative;
	top: 17.5px;
}

.btn_cpassword {
	background: url("../images/btn-cpassword.png");
	width: 292px;
	height: 47px;
}

.btn_yes {
	background: url("../images/btn-yes.png");
	width: 79px;
	height: 33px;
}

.btn_no {
	background: url("../images/btn-no.png");
	width: 79px;
	height: 33px;
}

.btn_fix {
	background: url("../images/btn-fix.png");
	width: 79px;
	height: 33px;
}

.btn_release {
	background: url("../images/btn-unstuck.png");
	width: 79px;
	height: 33px;
}